<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: Victor Valenzuela B. | Power By Ruby on Rails
    <a class="text-white" href="">Crazy4Cats.com</a>
  </div>
  <!-- Copyright -->
</footer>